* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: hsl(75, 94%, 57%);
    --color-secondary: hsl(0, 0%, 100%);
    --color-gray: hsl(0, 0%, 20%);
    --color-darkGrey: hsl(0, 0%, 12%);
    --color-black: hsl(0, 0%, 8%);  
}

p, h2 , li {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

li {
    list-style: none;
}

.main_container {
    width: 100vw;    
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_link_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    border-radius: 30px;
    margin: 100px auto;
    background-color: var(--color-darkGrey);
    padding: 30px;
}

.social_link_container__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 30px;
    gap: 10px 0;
}

.social_link_container__profile p:nth-child(3) {
    color: var(--color-primary);
    margin: 0 0 20px 0;
}

.social_link_container__profile p:nth-child(4) {
    font-weight: 400;
}


.social_link_container__profile img {
    width: 100px;
    border-radius: 50%;   
}

.social_link_container__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.list_links li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--color-gray);
    margin: 10px 0;
    border-radius: 10px;
}